<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{components/BasePage :: basepage}">
<head>
    <title id="page-title" th:text="'Detail Pegawai - ' + ${pegawai.getNama()}"></title>
</head>
<body>
<div id="Content" class="container-full-bg">
    <div class="container vertical-center" style="padding-top: 32px;">
        	<h2 th:text="'Cari Pegawai'"></h2>
		<form th:action="@{/pegawai/cari}" method="GET">
			<table class="table">
				<tbody>
					<tr>
						<td th:text="'Provinsi'"></td>
				 		<td>
			 				<select class="form-control" name="idProvinsi" id="provinsi"/>
			 					<option disabled="disabled" selected="selected" >Pilih Provinsi</option>
								<option th:each="provinsi : ${allProvinsi}"
								th:value="${provinsi.id}"
								th:text="${provinsi.nama}"></option>
			 				</select>
				 		</td>
					</tr>
					<tr>
						<td th:text="'Nama Instansi'"></td>
						<td>
							<select class="form-control" name="idInstansi" id="instansi" style="display:none"/>
								<option disabled="disabled" selected="selected" >Pilih Provinsi</option>
							</select>
			 				<select class="form-control" name="idInstansi" id="instansiAsli"/>
			 					<option disabled="disabled" selected="selected" >Pilih Instansi</option>
								<option th:each="instansi : ${allInstansi}"
								th:value="${instansi.id}"
								th:text="${instansi.nama}"></option>
			 				</select>
				 		</td>
					</tr>
					<tr>
						<td th:text="'Jabatan'"></td>
						<td>
			 				<select class="form-control" name="idJabatan"/>
			 					<option disabled="disabled" selected="selected" >Pilih Jabatan</option>
								<option th:each="jabatan : ${allJabatan}"
								th:value="${jabatan.id}"
								th:text="${jabatan.nama}"></option>
			 				</select>
				 		</td>
					</tr>
				</tbody>		
			</table>
			<button type="submit" class="btn-primary btn">Cari</button>
		</form>
		<hr>
    </div>
         <script type="text/javascript">
	$(document).ready(function(){
		console.log("hey")
		$('#provinsi').change(function() {
			valueProv = $(this).val();
			console.log(valueProv)
			$.ajax({
				type: "GET",
				url: "http://localhost:8080/pegawai/tambah/instansi?provinsi=",
				data: {
					'provinsiId' : valueProv
				},
				dataType: 'json',
				success: function(data) {
					console.log(data);
					getIns = '';
					var size = data.length;
				
					for (var i = 0; i<size; i++) {
						getIns+='<option value="'+data[i].id+'">'+data[i].nama+'</option>';
						console.log(data[i]);
						console.log(data[i].nama)
					}
					console.log(getIns);
					$('#instansi').show();
					$('#instansi').append(getIns);
					$('#instansiAsli').hide();
				},
				error: function(rs,e) {
					alert(rs.responseText)
				}
			})
		})
	});
</script>
</div>
</body>
</html>