<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{components/BasePage :: basepage}">
<head>
    <title id="page-title" th:text="'Detail Pegawai - ' + ${pegawai.getNama()}"></title>
</head>
<body>
<div id="Content" class="container-full-bg">
    <div class="container vertical-center" style="padding-top: 32px;">
        <h1 th:text="'Tambah Pegawai'"></h1>
        <div class="card my-5">
        	<div class="container">
        		<form th:action="@{/pegawai/tambah}" th:object="${pegawai}" method="POST" style="padding-top:15px">
            	<div class="form-group">
            		<label for="nama">Nama :</label>
            		<input type="text" name="nama" class="form-control">
            	</div>
            	<div class="form-group">
            		<label for="tempat_lahir">Tempat Lahir :</label>
            		<input type="text" name="tempat_lahir" class="form-control">
            	</div>
            	<div class="form-group">
            		<label for="tanggal_lahir">Tanggal Lahir :</label>
            		<input type="date" name="tanggal_lahir" class="form-control">
            	</div>
            	<div class="form-group">
            		<label for="provinsi">Provinsi :</label>
            		<select class="form-control" th:field="*{id}">
					  <option th:each="prov : ${listOfProvinsi}" 
					          th:value="${prov.id}" 
					          th:text="${prov.getNama()}"></option>
					</select>
            	</div>
            </form>
        	</div>
            
            <div class="card-body">
                <a th:href="@{/}" class="btn btn-primary">Tambah</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>